<form (submit)="findFilm(SearchForm.value)"
      [formGroup]="SearchForm">
  <mat-form-field class="search-field">
    <input type="text" aria-label="Number" matInput [formControl]="filmTitle" placeholder="Название фильма" (input)="getTitlesForAutoComplete()" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filmTitlesList" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<main class="main">
  <section class="films" *ngIf="filmsList">
    <mat-card class="film" *ngFor="let film of filmsList">
      <div class="film__poster">
        <img class="film__poster-img" *ngIf="film.Poster !== 'N/A'" [src]="film.Poster" />
      </div>
      <mat-card-content class="film__body">
        <mat-card-title class="film__title" [routerLink]="film.imdbID">{{film.Title}}</mat-card-title>
        <i (click)="addToFavorite(film)" [ngClass]="favoriteCheck(film) ? 'film__favorite--active': ''" class="film__favorite fas fa-star"></i>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="films" *ngIf="!filmsList || filmsList.length < 1">
    <h4 class="films__nothing">Нечего смотреть, давай ищи</h4>
  </section>
  <mat-progress-spinner mode="indeterminate" diameter="100" *ngIf="!isLoading"></mat-progress-spinner>
</main>
